/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

button {
  background-color: #f9e139;
  display: block;
  left: 50%;
  top: 50%;
}